body {
  background-color: #5F9EA0;
  color: #EDBD63;
  font-family: Acme;
}

a {
  text-decoration: none;
}

#notice {
  background-color: pink;  
  border-radius: 0.5em;
  color: #f00;
  padding: 0.5em;
}

#datasheet {
  width: 100%;
  height: 100px;
}

#results {
  margin-top: 1em;  
}

#results .kitty {
  border: 2px solid #486088;
  margin-bottom: 1em;
  padding: 3px 3px 6px 3px;
}

#results .clear {
  clear: both;
}

.kitty .avatar {
  width: 240px;
  text-align: center;
  margin-right: 3px;
  float: left;  
}

.kitty .avatar span.no-avatar {
  font-family: Arial;
  font-size: 72px;
}

.kitty .name {
  font-size: 2em;  
  text-shadow: 1px 1px 0 #A0615E;
}

.kitty .tags {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.kitty .tag {
  color: #f2cf87;
  background-color: #486088;
  border: 2px solid #f2cf87;
  border-radius: 6px;
  padding: 2px;
  margin: 1px;
}

.kitty .links {
  margin-top: 0.5em;
}

.links a {
  margin-right: 0.5em;
}

.links a.petfinder {
  color: #6735cc;
}

.links a.flickr {
  color: #0063dc;
}

#footer {
  margin-top: 1em;
}
